.projectSummaryContainer {
  padding-bottom: var(--3sp);
}

.projectSummaryTitle {
  display: flex;
}

.projectSummaryTitle span:first-child {
  margin-right: minmax(var(--2sp), auto);
}

.projectSummaryExplanation {
  padding: var(--1sp) var(--5sp);
}

.projectSummaryLinks a {
  padding-right: var(--2sp);
}
