.aboutContainer {
  padding-top: var(--4sp);
}

.aboutMe {
  padding-top: var(--1sp);
  padding-bottom: var(--1sp);
  padding-right: 40vw;
}

.aboutMeTech {
  padding-left: var(--3sp);
  list-style-type: disc;
}

@media only screen and (max-width: 900px) {
  .aboutMe {
    padding-right: 0;
  }
}
