.resumeHeader {
  display: grid;
  grid-template-columns: 1fr max-content;
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  padding: var(--4sp);
}

.resumeName {
  padding-bottom: var(--2sp);
}

.resumeContact {
  grid-column: 1 / 2;
}

.resumeContact a {
  margin-right: var(--3sp);
}

.resumeNav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.resumeNav a {
  margin-left: var(--3sp);
}

@media only screen and (max-width: 900px) {
  .resumeHeader {
    display: block;
  }

  .resumeNav a {
    margin-left: 0;
    display: block;
  }

  .resumeNav a:first-of-type {
    margin-bottom: var(--2sp);
  }

  .resumeContact a {
    margin-bottom: var(--2sp);
    display: block;
  }
}
