.headerContainer {
  display: flex;
  align-items: center;
  padding: var(--4sp);
  background-color: var(--secondary-clr);
}

.headerContainer a {
  padding-left: var(--3sp);
}

.headerName {
  flex: 1;
}
