.headerContainer {
  display: flex;
  align-items: center;
  padding: var(--4sp);
  background-color: var(--secondary-clr);
}

.headerContainer a {
  margin-left: var(--3sp);
}

.headerName {
  flex: 1;
}

@media only screen and (max-width: 900px) {
  .headerContainer {
    display: block;
  }

  .headerName {
    padding-bottom: var(--3sp);
  }

  .headerContainer a {
    margin-left: 0;
    margin-right: var(--3sp);
  }
}
