.addContentHeaderContainer {
  display: flex;
  padding-top: var(--4sp);
  padding-right: var(--4sp);
  padding-left: var(--4sp);
}

.addContentHeaderContentNav {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--4sp);
}

.addContentBtn {
  border: solid var(--primary-clr) 1px;
  background-color: var(--white);
  color: var(--secondary-clr);
  margin-right: var(--2sp);
}

.addContentHighlightBtn {
  background-color: var(--primary-clr);
}

.addBlog {
  color: var(--secondary-clr);
  padding: var(--1sp) var(--2sp);
  border-radius: var(--rad-sm);
}
