.addContentHeaderContainer {
  display: flex;
  padding-top: var(--4sp);
  padding-right: var(--4sp);
  padding-left: var(--4sp);
}

.addContentHeaderContentNav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding-left: var(--4sp);
}

.addContentBtn {
  border: solid var(--primary-clr) 1px;
  background-color: var(--white);
  color: var(--secondary-clr);
  margin-right: var(--2sp);
}

.addContentHighlightBtn {
  background-color: var(--primary-clr);
}

.addBlog {
  color: var(--secondary-clr);
  padding: var(--1sp) var(--2sp);
  border-radius: var(--rad-sm);
}

@media only screen and (max-width: 900px) {
  .addContentHeaderContainer {
    display: block;
  }

  .addContentHeaderContentNav li {
    flex: 1;
    padding-bottom: var(--2sp);
  }
}
